* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5ebf0;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
  height: 100v;
}

.newsfeed-and-twits {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.item1 {
  display: flex;
  flex-direction: column;
  margin: 5% 3% 0 3%;
  width: 40%;
  align-items: center;
}

.item1 h4 {
  font-weight: bold;
  margin: 20px 0 20px 0;
}

.item1 .item2 {
  display: flex;
}

.item3 {
  display: flex;
  width: 50%;
}
