* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logout-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #e5ebf0;
}

.logout-page h1 {
  font-weight: bold;
  margin: 20px;
}
